CompileFlags:
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mlongcalls
    - -ffunction-sections
    - -fdata-sections
  Add:
    - --target=xtensa-esp32s3-elf
    - --sysroot=/nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/xtensa-esp-elf
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf/esp32s3
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/backward
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include-fixed
    - -isystem
    - /nix/store/mki4nsr1cw3h2mpqywym2x14lwsj36ax-xtensa-esp-elf-esp-idf-v5.5.2/xtensa-esp-elf/xtensa-esp-elf/include
