source "/private/tmp/esp-idf-v6.0/components/efuse/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_common/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_hw_support/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_libc/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_rom/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_security/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_stdio/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/esp_system/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/freertos/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/hal/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/log/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/soc/Kconfig"
source "/private/tmp/esp-idf-v6.0/components/spi_flash/Kconfig"